.admin-container {
    background-color: peachpuff;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.admin-design {
    background-color: paleturquoise;
}
.admin-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkgoldenrod;
    height: 55%;
    width: 100%;
}
.create-account-box {
    height: 100%;
    width: 20%;
    background-color: blueviolet;
}
.menu-box {
    height: 100%;
    width: 20%;
    background-color: darkkhaki;
}

.orders-box {
    height: 100%;
    width: 20%;
    background-color: firebrick;
}