.cashier-container {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/* main group */
.orders {
    width: 30%;
    margin: 0 20px 0 0;
    padding: 10px 10px 5px 10px;
    flex-direction: column;
    overflow-y: scroll;
}
.order {
    background-color: #FFFDFB;
    margin: 10px 10px 10px 0px;
    flex:1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow:0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    align-items: center;

}
.invoice {
    display: flex;
    flex-direction: column;
    background: rgb(255, 244, 228);
    margin: 10px 10px 10px 0px;
    flex:1;
}

/* orderlist */
.order-card {
    background-image: linear-gradient(to bottom right, #FFC977, #DA8C75);
    height: 18%;
    width: 85%; 
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 5px;
    padding-left: 20px;
}
.selected-order-card {
    background-image: linear-gradient(to bottom right, #FFC977, #DA8C75);
    height: 18%; 
    transform: scale(1.1);
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 0px 0px 0px 20px;
    border-radius: 5px;
    margin: 10px;
}
.order-table-num {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    width: 30%;
    text-align: flex-start;
    font-size: 18px;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255, 0.5);
}

#num-textbold{
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.order-details{
    flex: 1;
    padding-top: 20px;
    font-size: 16px;
    color: white;
}

.order-logo{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}

/* order entry */
.item-card {
    display: flex;
    flex-direction: row;
    background-color: rgba(240, 223, 198, 0.5);
    margin-top: 5px;
    height: 10%;
}
.menu-image-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
#menu-image {
    height: 65%;
    width: 50%;
    border-radius: 50%;

}
.item-details {
    flex: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#item-name{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#item-price{
    color: #DA8C75;
}

.item-qty {
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-subtotal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}

.invoice-section {
    display: none;
}

.invoice-table {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
    color: #8C7132;
}


#text-table{
    font-weight: bolder;
    color: #C05B5A;
    font-size: 40px;
    font-family: Tahoma, sans-serif;
}


#text-payment{
    font-weight: bolder;
    margin-bottom: 10px;
    color: #575757;
}

#text-title{
    color: #575757;
}

#text-amount{
    color: #8C7132;
    font-weight: bold;
}

.invoice-payment{
    display: flex;
    flex: 2;
    flex-direction: column;
    margin: 30px;
}

.payment-flex{
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(253, 239, 218);
    margin: 5px 15px 5px 15px;
    border-radius: 2px;
    padding: 0px 15px 0px 15px;
}
.invoice-buttons{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5%;
}

.button-invoice{
    width: 150px;
    padding: 10px;
    margin: 5px;
    border: 0;
    border-radius: 35px;
    background-image: linear-gradient(to bottom right, #FFC977, #DA8C75);
    color: white;
}

.button-invoice:hover{
    background-image: linear-gradient(to bottom right, #DA8C75, #DA8C75);
}

.button-invoice:disabled{
    background-image: linear-gradient(to bottom right, rgb(153, 122, 112), rgb(153, 122, 112));
}

.receipt-section {
    display: none;
}

/* Receipt Component */
.receipt-content {
    display: flex;
    flex-direction: column;
    padding: 35px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.receipt-header{
    flex: 1;
    text-align: center;
}

.receipt-order-details{
    flex:1;
    padding-top: 10px;
}

.receipt-orders{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

.receipt-heading{
    display: flex;
    flex: 0.5;
    flex-direction: row;
    font-weight: bold;
    padding: 10px;
}

.receipt-item-card{
    display: flex;
    flex: 1;
    flex-direction:row;
    position: relative;
    padding: 10px;
}

.receipt-item{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

#receipt-item-name{
    flex:2;
}

.receipt-total{
    flex:1;
    padding-top: 10px;
}

.total-flex{
    display: flex;
    justify-content: space-between;
}

.receipt-footer{
    flex: 1;
    text-align: center;
    padding-top: 50px;
}
