.nav-container {
    background-color: whitesmoke;
    width: 5%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow:5px 25px 30px 0px rgba(0, 0, 0, 0.15);
    align-items: center;
}

.nav-body{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.button-flex{
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px 5px 1px 5px;
    width: 75%;
}

#btn-cashier:hover{
    background: #DA8C75;
}

#btn-admin:hover{
    background: #EDC589;
}